# .gitignore
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
build/
dist/
*.egg-info/
*.egg
*.so
*.o
*.a
*.dll
*.dylib
llava-v1.5-7b/
# Hugging Face Checkpoints
**/checkpoint*/
saved_model/

# Include files and directories typically present in the root of Python projects:
/.idea
/.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.*~
*.pyc
*.class
*<200b>
*.com
*.edn
*.hbs
*.html
*.ini
*.json
*.log
*.markdown
*.md
*.mustache
*.py
*.py3
*.py[0-9]
*.pym
*.pyo
*.rbc
*.sass-cache
*.scssc
*.slim
*.swo
*.tmuxp
*.todo
*.vim
*.old
*.orig
*.rej
.DS_Store
netlify.toml
_public
_sass
_test
coverage_data
coverage_dir
doc/api
tmp
.sass-cache
.c9/
*.krb
*~
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

